body {
  background: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background: #45a049;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.todo-item span {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete{
  background: #ff4d4d;
}

.delete:hover {
  background: #e60000;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.filters button {
  background: #eee;
  color: black;
}

.filters button:hover {
  background: #ddd;
}

.task-counter {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}
.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.clear-btn {
  background: #ff9900;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background: #e68a00;
}.task-footer {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.clear-btn {
  background: #ff9900;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background: #e68a00;
}
.buttons {
  display:flex;
  gap: 10px;

}
.edit {
  background-color: #ff9900;
}

.delete-all {
  background-color: rgb(249, 43, 43);
}
.delete-all:hover {
  background-color: red;
}

.togglecomplet {
  display:flex;
  justify-content: center;
  gap: 10px;
}
.undo {
  background-color: gray;
}
.complete {
  background-color: gold;
}